doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.1/dist/lux/bootstrap.min.css")
        title Formulaire
    body
    include partials/form.pug
    //- h1 The title of the page is: <br> "#{title}"<br>
    //- p I am #{desc.age} and i'am a #{desc.job}